# Selecci√≥n, adici√≥n y Eliminaci√≥n de ___columnas___ üñäÔ∏è

In [1]:
import numpy as np
import pandas as pd

# 1. Creaci√≥n y selecci√≥n de columnas 
 - __Creaci√≥n:__ En base a operaciones matem√°ticas
 - __Selecci√≥n:__ Operaciones l√≥gicas de otras columnas existentes.

In [5]:
diccionario = {
    "Uno": pd.Series([1.0, 2.0, 3.0], index = ["A", "B", "C"]),
    "Dos": pd.Series([5.0, 5.0, 6.0, 7.0], index = ["A", "B", "C", "D"])
}

df = pd.DataFrame(diccionario)
print(f'‚ú®DataFrame original:\n{df}')

‚ú®DataFrame original:
   Uno  Dos
A  1.0  5.0
B  2.0  5.0
C  3.0  6.0
D  NaN  7.0

In [6]:
#1Ô∏è‚É£Selecci√≥n: Obtener una columna
columna_uno = df["Uno"]
print(f'üîéPrimera columna del DF:\n{columna_uno}')

üîéPrimera columna del DF:
A    1.0
B    2.0
C    3.0
D    NaN
Name: Uno, dtype: float64

In [7]:

#2Ô∏è‚É£Adicic√≥n 1: Nueva colunma calculada: operaci√≥n vectorizada
df["Tres"] = df["Uno"] * df["Dos"]
print(f'Operaci√≥n vectorizada, adici√≥n de columnas "Uno" y "Dos": \n{df}')

Operaci√≥n vectorizada, adici√≥n de columnas "Uno" y "Dos":
   Uno  Dos  Tres
A  1.0  5.0   5.0
B  2.0  5.0  10.0
C  3.0  6.0  18.0
D  NaN  7.0   NaN

In [8]:

#3Ô∏è‚É£Adici√≥n 2: Nueva columna l√≥gica (booleana)
df["flag"] = df["Uno"] > 2
print(f'Operaci√≥n logica con lo elementos de la columna "Uno":\n{df}')

Operaci√≥n logica con lo elementos de la columna "Uno":
   Uno  Dos  Tres   flag
A  1.0  5.0   5.0  False
B  2.0  5.0  10.0  False
C  3.0  6.0  18.0   True
D  NaN  7.0   NaN  False

## 2. Eliminaci√≥n de columnas

In [9]:
#1. Opci√≥n A: Usando "del" (borrar sin devolver nada)
del df["Dos"]
print(f'DataFrame despu√©s de eliminar la columna "Dos": \n{df}')

DataFrame despu√©s de eliminar la columna "Dos":
   Uno  Tres   flag
A  1.0   5.0  False
B  2.0  10.0  False
C  3.0  18.0   True
D  NaN   NaN  False

In [10]:
#2. Opci√≥n B: Usando "pop" (borrar y capturar la columna)
columna_Tres = df.pop("Tres")
print(f'DataFrame despu√©s de eliminar la columna "Tres": \n{df}')

DataFrame despu√©s de eliminar la columna "Tres":
   Uno   flag
A  1.0  False
B  2.0  False
C  3.0   True
D  NaN  False

## 3. Inserci√≥n

### 3.1. Inserci√≥n de valores escalares (n√∫mero o cadena de texto)

In [11]:
df["foo"] = "bar"
print(f'DataFrame despu√©s de agregar un valor escalar que se propaga en toda la columna:\n{df}')

DataFrame despu√©s de agregar un valor escalar que se propaga en toda la columna:
   Uno   flag  foo
A  1.0  False  bar
B  2.0  False  bar
C  3.0   True  bar
D  NaN  False  bar

### 3.2 Inserci√≥n de series
En el caso de que insertemos ```Series``` que no tiene el mismo √≠ndice que el DataFrame, pandas la alinear√° aumtom√°ticamente.

In [12]:
#Seleccionamos los dos primeros elementos de la columna "Uno" del DF
serie = df["Uno"][:2]
#Luego creamos una nueva columna con los valores seleccionados de la columna "Uno"
df["uno_trunc"] = serie
print(f'üß©DataFrame con columna alineada:\n{df}')

üß©DataFrame con columna alineada:
   Uno   flag  foo  uno_trunc
A  1.0  False  bar        1.0
B  2.0  False  bar        2.0
C  3.0   True  bar        NaN
D  NaN  False  bar        NaN

### 3.3. Inserci√≥n en una posici√≥n espec√≠fica
Por defecto, las columnas se agregan al final (derecha). Pero podemos insertarlas es una posici√≥n espec√≠fica.

 - Podemos observar que las posiciones de las columnas van est√°n dentro del rango ```[0, cantidad_columnas -1]```. 
 - Para las filas es lo mismo estan dentro den rango ```[0, cantidad_filas -1]```.

In [13]:
df.insert(1, "flag_copia", df["flag"])
print(f'üéàDataFrame con una columna insertada en la posici√≥n 1:\n{df}')

üéàDataFrame con una columna insertada en la posici√≥n 1:
   Uno  flag_copia   flag  foo  uno_trunc
A  1.0       False  False  bar        1.0
B  2.0       False  False  bar        2.0
C  3.0        True   True  bar        NaN
D  NaN       False  False  bar        NaN