# Alineaci√≥n de datos y aritm√©ticaüßÆ

In [1]:
import pandas as pd
import numpy as np

In [2]:
# üì¶ DataFrame 1 (4 filas, 3 columnas A-C)
df1 = pd.DataFrame(np.arange(12).reshape(4, 3), columns=["Columna_a", "Columna_b", "Columna_c"])
# üì¶ DataFrame 2 (3 filas, 3 columnas B-D)
df2 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=["Columna_b", "Columna_c", "Columna_d"])

print("DataFrame 1üü¶:\n", df1)
print('=' * 45)
print("\nDataFrame 2üüß:\n", df2)

DataFrame 1üü¶:
    Columna_a  Columna_b  Columna_c
0          0          1          2
1          3          4          5
2          6          7          8
3          9         10         11
=============================================

DataFrame 2üüß:
    Columna_b  Columna_c  Columna_d
0          0          1          2
1          3          4          5
2          6          7          8

## 1. Operaciones entre DataFrames
Cuando se realiza operaciones matem√°ticas entre dos DataFrames, pandas __alinea autom√°ticamente__ los datos bas√°ndose en __ambas etiquetas__: filas (√≠nd√≠ce) y columnas.

### 1.1. Suma con alineaci√≥n autom√°tica‚ûï

In [5]:
#Columnas B y C coinciden; las columnas A (solo en df1) y D (solo en df2) resultar√°n en NaN donde no haya pareja
df_resultado_suma = df1 + df2
print(f'DataFrmae resultante de la suma de df1 y df2:\n{df_resultado_suma}')

DataFrmae resultante de la suma de df1 y df2:
   Columna_a  Columna_b  Columna_c  Columna_d
0        NaN        1.0        3.0        NaN
1        NaN        7.0        9.0        NaN
2        NaN       13.0       15.0        NaN
3        NaN        NaN        NaN        NaN

## 2. Operaciones entre DataFrames y Series (Broadcasting)
El comportamiento por defecto al operar un DataFrame con una Series es alinear el √≠ndice de las eries con las columnas del DataFrame. Esto se conoce como briadcasting por filas (se aplica operaci√≥n fila por fila).

In [8]:

#Seleccionamos la primera fila de df1 como una Series
serie_fila_0 = df1.iloc[0]

print(f'Dataframe df1:\n{df1}')
print('=' * 40)
print(type(serie_fila_0))
print('=' * 40)
print(f'Fila 0:\n{serie_fila_0}')
print('=' * 40)

print('Restamos la serie del DataFrame:')
df_resta_df_serie = df1-serie_fila_0
print(df_resta_df_serie)

Dataframe df1:
   Columna_a  Columna_b  Columna_c
0          0          1          2
1          3          4          5
2          6          7          8
3          9         10         11
========================================
<class 'pandas.core.series.Series'>
========================================
Fila 0:
Columna_a    0
Columna_b    1
Columna_c    2
Name: 0, dtype: int64
========================================
Restamos la serie del DataFrame:
   Columna_a  Columna_b  Columna_c
0          0          0          0
1          3          3          3
2          6          6          6
3          9          9          9

## 3. Operaciones entre DataFrames y escalaresüßÆ
Las operaciones con n√∫mero sueltos (escalares) se aplican elemento por elemento a todo el DataFrame. Igual uqe las matrices en el algebra lineal.

In [9]:
print(f'DataFrame 1:\n{df1}')
print('=' * 40)

df_mate = df1 * 5  + 2
print(f'Resultado de df1 * 5  + 2:\n{df_mate}')
print('=' * 40)

df_inv = 1 / (df1 + 1) #Sumamos 1 para evitar la divisi√≥n por cero
print(f'Resultado de 1 / (df1 + 1):\n{df_inv}')

DataFrame 1:
   Columna_a  Columna_b  Columna_c
0          0          1          2
1          3          4          5
2          6          7          8
3          9         10         11
========================================
Resultado de df1 * 5  + 2:
   Columna_a  Columna_b  Columna_c
0          2          7         12
1         17         22         27
2         32         37         42
3         47         52         57
========================================
Resultado de 1 / (df1 + 1):
   Columna_a  Columna_b  Columna_c
0   1.000000   0.500000   0.333333
1   0.250000   0.200000   0.166667
2   0.142857   0.125000   0.111111
3   0.100000   0.090909   0.083333

## 4. Operaciones booleanas aplicada a los DataFrames
Se aplican los operadores l√≥gicos __bitwise__. Esto operadores funcionan elemento por elemento en todo el DataFrame.

In [12]:
#üèóÔ∏è Creaci√≥n de DataFrames booleanos
df_bool_1 = pd.DataFrame({"a": [True, False], "b": [False, True]})
df_bool_2 = pd.DataFrame({"a": [False, False], "b": [True, True]})
print("üß†DataFrame booleano 1:\n", df_bool_1)
print('=' * 30)
print("üß†DataFrame booleano 2:\n", df_bool_2)

üß†DataFrame booleano 1:
        a      b
0   True  False
1  False   True
==============================
üß†DataFrame booleano 2:
        a     b
0  False  True
1  False  True

### 4.1. Conjunci√≥n AND (```&```)

In [13]:
print(f'Resultado de AND(df1 & df2):')
df_and = df_bool_1 & df_bool_2
print(df_and)

Resultado de AND(df1 & df2):
       a      b
0  False  False
1  False   True

### 4.2. Disyunci√≥n inclusiva OR (```|```)

In [14]:
#Operador OR (&)
print(f'Resultado de OR(df1 | df2):')
df_or = df_bool_1 | df_bool_2
print(df_or)

Resultado de OR(df1 | df2):
       a     b
0   True  True
1  False  True

### 4.3. Negaci√≥n (-) o (~)‚õî

In [15]:
#Negaci√≥n (-) o (~)
df_negacion_1 = -df_bool_1
df_negacion_2 = ~df_bool_2 
print(f'DataFrame negado 1 (-df_bool_1):\n{df_negacion_1}')
print('=' * 35)
print(f'DataFrame negado 2 (~df_bool_2):\n{df_negacion_2}')

DataFrame negado 1 (-df_bool_1):
       a      b
0  False   True
1   True  False
===================================
DataFrame negado 2 (~df_bool_2):
      a      b
0  True  False
1  True  False

## 4.4. Transposici√≥n de DataFrames: ```df.T```
Intercambia filas por columnas(rotar el DataFrame), como en las matrices de √°lgebra lineal.

In [16]:
#Transposici√≥n
print('=' * 50)
print("üü¶Dataframe original (4 filas x 3 columnas):")
print(df1)
print('=' * 50)
df1_traspuesta = df1.T
print(f'Transpuesta (3 filas x 4 columnas):\n{df1_traspuesta}')
print('=' * 50)

==================================================
üü¶Dataframe original (4 filas x 3 columnas):
   Columna_a  Columna_b  Columna_c
0          0          1          2
1          3          4          5
2          6          7          8
3          9         10         11
==================================================
Transpuesta (3 filas x 4 columnas):
           0  1  2   3
Columna_a  0  3  6   9
Columna_b  1  4  7  10
Columna_c  2  5  8  11
==================================================