# Operaciones vectorizadas y alineaci贸n de etiquetas
Las _series_ de pandas permiten operaciones r谩pidas a nivel de _array_. La caracter铆stica distintiva de pandas es que estas operaciones se realizan con _alineaci贸n autom谩tica de datos_ basadas en las _etiquetas del 铆ndice_.

In [1]:
import pandas as pd
import numpy as np

In [26]:
#Creacipon de la serie
np.random.seed(42) # Para resultados consistentes
s = pd.Series(np.random.randn(5), list("abcde"))
print(s)

a    0.496714
b   -0.138264
c    0.647689
d    1.523030
e   -0.234153
dtype: float64

## 1. Operaciones vectorizadas

In [27]:
print('Modificando valor de "E".')
s["E"] = 12.0

print("=" * 50)
print(f'Valor relacionado a "E", antes: {s["E"]:.6f}')

print("=" * 50)
print(f'Serie "s":\n{s}')

Modificando valor de "E".
==================================================
Valor relacionado a "E", antes: 12.000000
==================================================
Serie "s":
a     0.496714
b    -0.138264
c     0.647689
d     1.523030
e    -0.234153
E    12.000000
dtype: float64

In [28]:
#1锔Suma de series
suma = s + s
print(f'Serie orignal "s":n{s}')
print('=' * 40)
print(f'Resultado de la suma s + s:\n{suma}')

Serie orignal "s":na     0.496714
b    -0.138264
c     0.647689
d     1.523030
e    -0.234153
E    12.000000
dtype: float64
========================================
Resultado de la suma s + s:
a     0.993428
b    -0.276529
c     1.295377
d     3.046060
e    -0.468307
E    24.000000
dtype: float64

In [29]:
#2锔Multiplicaci贸n por un escalar
print(f'Serie original:\n{s}')
s_doble = s * 2
print("=" * 70)
print(f'Resultado de multiplicar un vector por una escalar (s * 2):\n{s_doble}')

Serie original:
a     0.496714
b    -0.138264
c     0.647689
d     1.523030
e    -0.234153
E    12.000000
dtype: float64
======================================================================
Resultado de multiplicar un vector por una escalar (s * 2):
a     0.993428
b    -0.276529
c     1.295377
d     3.046060
e    -0.468307
E    24.000000
dtype: float64

In [30]:
#3锔 Uso con funciones NumPy
print(f'Serie. original:\n{s}')
s_exp = np.exp(s)
print("=" * 60)
print(f'Serie despu茅s de aplicar la funci贸n numpy .exp():\n{s_exp}')

Serie. original:
a     0.496714
b    -0.138264
c     0.647689
d     1.523030
e    -0.234153
E    12.000000
dtype: float64
============================================================
Serie despu茅s de aplicar la funci贸n numpy .exp():
a         1.643313
b         0.870868
c         1.911118
d         4.586099
e         0.791240
E    162754.791419
dtype: float64

## 2. Alineaci贸n autom谩tica de etiquetas y _Nan_
Cuando operamos con dos _Series_ que tienen __铆ndices diferentes o desordenados__, Pandas realiza __autom谩ticamente la alineaci贸n__, tomando la ___uni贸n___ de todos los 铆ndices.

In [31]:
#1锔 Suma de series desalineadas
s_cola = s.iloc[1:]
s_cabeza = s.iloc[:-1]
print(f'Serie original s:\n{s}')
print("=" * 60)
print(f'锔Serie 1 (s_cola):\n{s_cola}')
print("=" * 60)
print(f'锔Serie 2 (s_cabeza): \n{s_cabeza}')
print("=" * 60)
s_suma_unaligned = s_cola + s_cabeza
print(f'くResultado de s_cola + s_cabeza (Alineaci贸n autom谩tica):\n{s_suma_unaligned}')
# El resultado tiene la uni贸n de 铆ndices ("A", "B", "C", "D", "E")

Serie original s:
a     0.496714
b    -0.138264
c     0.647689
d     1.523030
e    -0.234153
E    12.000000
dtype: float64
============================================================
锔Serie 1 (s_cola):
b    -0.138264
c     0.647689
d     1.523030
e    -0.234153
E    12.000000
dtype: float64
============================================================
锔Serie 2 (s_cabeza):
a    0.496714
b   -0.138264
c    0.647689
d    1.523030
e   -0.234153
dtype: float64
============================================================
くResultado de s_cola + s_cabeza (Alineaci贸n autom谩tica):
E         NaN
a         NaN
b   -0.276529
c    1.295377
d    3.046060
e   -0.468307
dtype: float64

Dado que "A" no tiene su paren la otra serie y "E" tampoco (solo existen en una de las ```Series```), lo valores asociados en la suma ser谩n ```NaN```.

El uso de ```NaN (Not a Number)``` para etiquetas que no se encuentran en ambas Series se hace con a intenci贸n de que __no se pierda la informaci贸n__.

## ```s.dropna()```

In [32]:
#Eliminamos
serie_sin_NaN = s_suma_unaligned.dropna()
print(f'Serie limpia, sin valor NaN:\n{serie_sin_NaN}')
print('=' * 40)
print(f'Serie original:\n{s_suma_unaligned}')

Serie limpia, sin valor NaN:
b   -0.276529
c    1.295377
d    3.046060
e   -0.468307
dtype: float64
========================================
Serie original:
E         NaN
a         NaN
b   -0.276529
c    1.295377
d    3.046060
e   -0.468307
dtype: float64